<footer class="text-center mt-5 pb-3">
    <p>&copy; 2024 Hisham's Blog. All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>